.jumbotron{
    padding:15px;
    margin:0px;
    background-color:aquamarine;
    font-weight:bold;
    font-style:normal;
    font-size:medium;
    margin-bottom:100px;
}
.container {
    width: 100%;
}

.panel-default {
    background-color:aqua;
    margin: 0px;
}

.textbox {
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}

.textbox:focus {
    border-color: black;
    padding: 4px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}
.textbox:hover {
    border-color: red;
    border-radius: 5px;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}

.dropdown {
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 3px;
    overflow: hidden;
}

.dropdown:focus {
    border-color: black;
    padding: 4px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
    overflow: hidden;
}
.dropdown:hover {
    border-color: red;
    border-radius: 5px;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
    overflow: hidden;
}
.btn{
    float:right;
    font-weight:bold;
}
.tooltip {
    border-radius:5px;
}


.grid th,.grid td{
    text-align:center;
    border-style:hidden;
    line-height:25px;
}

.grid th{
    font-size:large;
}
.footer{
    position:absolute;
    bottom:0px;
    width:100%;
}
.buttoncustomer
{
	-moz-box-shadow:inset 0px -3px 7px 0px #00bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #00bbff;
	box-shadow:inset 0px -3px 7px 0px #00bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    padding-top:1px;
}
.buttoncustomer:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}